<% layout('layouts/template')%>
    <div class="row">
        <div class="col-9">
            <% for(let chat of club.chats) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">
                                <%= chat.author.username %>
                            </h5>
                            <p>
                                <%= chat.message %>
                            </p>
                        </div>
                        <% if(currentUser && chat.author.equals(currentUser._id)) {%>
                            <form action="/clubs/<%= club._id %>/chat/<%= chat._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                            <%}%>
                    </div>
                </div>

                <% } %>
                    <form action="/clubs/<%= club._id %>/chat" class="mb-3 validated-form" novalidate method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="message">Message</label>
                            <textarea class="form-control" type="text" id="message" name="chat[message]"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                        <button class="btn btn-success">Send</button>
                    </form>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">
                        <%= club.admin.username %>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <% for(member of club.members) { %>
                        <p class="card-text">
                            <%= member.username %>
                        </p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>