<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fan.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">

</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">fan.io</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <% if(currentUser) { %>
                        <a class="nav-link" href="/yourclubs">Your Clubs</a>
                        <% } %>
                            <a class="nav-link" href="/clubs">All Clubs</a>
                            <a class="nav-link" href="/clubs/new">Create Club</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/users/<%= currentUser.username %>">
                                <%= currentUser.username%>
                            </a>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-5 vh-100 mb-5">
        <div class="alert alert-success pb-0 mt-0 shadow">
            <h4 class="alert-heading">
                <%= club.name %>
            </h4>
            <p>
                <%= club.description %>
            </p>
            <p><a href="/clubs/<%= club._id %>" class="btn btn-success">Check out Group page</a></p>
        </div>
        <div class="d-block d-md-none pb-3 d-flex justify-content-center">
            <button id="toggler" class="btn btn-warning">Show members</button>
        </div>
        <div class="row">
            <div id="chatwindow" class="col-md-9 col-12 d-md-block">
                <div class="card pt-3 px-4 shadow">
                    <div id="messages" class="overflow-auto mb-3">
                        <% for(let chat of club.chats) { %>
                            <div class="card mb-1 me-2 pb-0">
                                <div class="card-header bg-light d-flex mb-0 p-1">
                                    <div class="ms-2">
                                        <a href="/users/<%= chat.author.username %>" class="text-decoration-none">
                                            <%= chat.author.username %>
                                        </a>
                                    </div>
                                    <div class="ms-auto me-3">
                                        <%= moment(chat.createdAt).calendar() %>
                                    </div>
                                </div>
                                <div class="card-body pb-0 d-flex mt-0 pt-1 mb-0">
                                    <div class="card-text lh-sm">
                                        <p>
                                            <%= chat.message %>
                                        </p>
                                    </div>
                                    <% if(currentUser && chat.author.equals(currentUser._id)) {%>
                                        <form action="/clubs/<%= club._id %>/chat/<%= chat._id %>?_method=DELETE"
                                            method="POST" class="ms-auto me-0">
                                            <button class="btn btn-outline-danger btn-sm">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        <%}%>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div id="form">

                        <form action="/clubs/<%= club._id %>/chat" class="mb-3 validated-form" novalidate method="POST"
                            class="d-flex">
                            <div class="row">
                                <div class="mb-3 col-10">
                                    <div class="width">
                                        <input class="form-control" type="text" id="message" name="chat[message]"
                                            required placeholder="Type a message..." autocomplete="off" autofocus>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-success">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div id="memberwindow" class="col-md-3 d-md-block d-none col-12">
                <div class="card mb-3 shadow text-center overflow-auto" id="members">
                    <div class="card-body">
                        <h5 class="card-title">Admins</h5>
                        <% for(admin of club.admins) { %>
                            <p class="card-text">
                                <%= admin.username %>
                            </p>
                            <% } %>
                                <% if(club.members.length !=0) { %>
                                    <hr>
                                    <h5 class="card-title">Members</h5>
                                    <% for(member of club.members) { %>
                                        <div class="d-flex justify-content-center">
                                            <p class="card-text">
                                                <%= member.username %>
                                            </p>
                                            <% if(club.isAdmin) { %>
                                                <form action="/clubs/<%= club._id %>/users/<%= member._id %>"
                                                    class="ms-2" method="POST">
                                                    <button class="btn btn-success btn-sm">Make Admin</button>
                                                </form>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        var messages = document.getElementById("messages");
        messages.scrollTop = messages.scrollHeight;
        var togglebtn = document.getElementById("toggler");
        var chatwin = document.getElementById("chatwindow");
        var membwin = document.getElementById("memberwindow");
        togglebtn.addEventListener('click', () => {
            if (togglebtn.innerText == "Show members") {
                togglebtn.innerText = "Show chats";
            } else {
                togglebtn.innerText = "Show members";
            }
            chatwin.classList.toggle('d-none');
            membwin.classList.toggle('d-none');
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src='/scripts/validateForm.js'></script>
</body>

</html>