<% layout('layouts/template')%>

    <% layout('layouts/template')%>
        <% layout('layouts/template')%>

            <div class="container d-flex justify-content-center align-items-center mb-4">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                        <div class="card shadow">
                            <img src="https://wallpaperaccess.com/full/241276.jpg" alt="" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">Edit Club Details</h5>
                                <form action="/clubs/<%=club._id%>?_method=PUT" method="POST" novalidate
                                    class="validated-form">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Club Name</label>
                                        <input class="form-control" type="text" id="name" name="club[name]"
                                            value="<%= club.name %>" required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="image">Club Image URL</label>
                                        <input class="form-control" type="text" id="image" name="club[image]"
                                            value="<%=club.image %>" required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="description" required>Description</label>
                                        <textarea class="form-control" type="text" id="description"
                                            name="club[description]" required><%= club.description%></textarea>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-info">Update Club</button>
                                    </div>
                                </form>
                                <a href="/clubs/<%= club._id%>">Back To Club</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>