<% layout('layouts/template')%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%=club.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= club.name%>
                    </h5>
                    <p class="card-text">
                        <%= club.description%>
                    </p>
                </div>
                <div class="card-body">
                    <% if(currentUser && club.admin.equals(currentUser._id)) { %>
                        <a class="card-link btn btn-info" href="/clubs/<%=club._id%>/edit">Edit</a>
                        <form class="d-inline" action="/clubs/<%=club._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                            <% if(currentUser) { %>
                                <%if(club.admin.equals(currentUser._id)||club.members.indexOf(currentUser._id)!=-1){%>
                                    <a href="/clubs/<%=club._id%>/chat" class="btn btn-success">Go To Chat</a>
                                    <% } else { %>
                                        <form class="d-inline" action="/clubs/<%=club._id%>/join" method="POST">
                                            <button class="btn btn-primary">Join Club</button>
                                        </form>
                                        <% } %>
                                            <% } %>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">
                        Created by <%= club.admin.username %>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>